/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    color: #1d2d35 !important;
    font-family: "Avenir Next" !important;
    font-size: 1.5rem;
    background-color: whitesmoke;
}

nav {
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
}

h1 {
    font-size: 8rem !important;
    font-weight: 800;
}

h2{
    font-size: 3rem !important;
    font-weight: 500;
}

#red-link a:link {
    color: whitesmoke;
}


#main-header {
    margin-top: -15px;
    height: 800px;
    background: url('IMG_5489.jpg' ) no-repeat center;
    background-size: cover;
    color: whitesmoke;
}

#main-header .my-4 {
    background-color:white;
}

#about-image {
    background: url('IMG_5550.jpg' ) no-repeat center;
    background-size: cover;
}

.navbar-sticky-bottom {
    margin-top: 50px;
}

.navbar-brand {
    font-size: 2rem !important;
}